@{
    ViewBag.Title = "items_url";
}

<h2>items_url</h2>

<div id="toolbar"></div>

<script>
    $("#toolbar").kendoToolBar({
        items: [
        {
            type: "button",
            text: "Grid",
            url: '@Url.Action("specify_alternating_row_template_as_a_function", "Kendo_UI_Grid")'
        }
        ]
    });
</script>