@{
    ViewBag.Title = "items_showIcon";
}

<h2>items_showIcon</h2>

<div id="toolbar"></div>

<script>
    $("#toolbar").kendoToolBar({
        items: [
            { type: "button", text: "Foo", icon: "tick", showIcon: "toolbar" }
        ]
    });
</script>