@{
    ViewBag.Title = "items_text";
}

<h2>items_text</h2>

<div id="toolbar"></div>

<script>
    $("#toolbar").kendoToolBar({
        items: [
            { type: "button", text: "Foo" }
        ]
    });
</script>