
@{
    ViewBag.Title = "subscribe_to_the_click_event_during_initialization";
}

<h2>subscribe_to_the_click_event_during_initialization</h2>

<div id="toolbar"></div>
<script>
    $("#toolbar").kendoToolBar({
        items: [
            { type: "button", id: "btn1", text: "Button 1" },
            { type: "button", id: "btn2", text: "Button 2" }
        ],
        click: function(e) {
            console.log("click", e.target.text());
        }
    });
</script>