@{
    ViewBag.Title = "toggle";
}

<h2>toggle</h2>

<div id="toolbar"></div>
<script>
    $("#toolbar").kendoToolBar({
        items: [
          {
              type: "buttonGroup", buttons: [
              { type: "button", togglable: true, id: "foo", text: "foo", group: "group1" },
              { type: "button", togglable: true, id: "bar", text: "bar", group: "group1" }
              ]
          }
        ]
    });

    var toolbar = $("#toolbar").data("kendoToolBar");
    toolbar.toggle("#foo", true); //select button with id: "foo"
    toolbar.toggle("#bar", true); //select button with id: "bar" (also deselects "#foo" as the buttons are from the same group
</script>