
@{
    ViewBag.Title = "dataBound_event";
}

<h2>dataBound_event</h2>

<div id="listView"></div>
<script>
    $("#listView").kendoListView({
        template: "<div>#: name#</div>",
        dataSource: [
            { name: "John Doe", age: 30 }
        ],
        dataBound: function () {
            alert('dataBound event is fired!');
        }
    });
</script>

