
@{
    ViewBag.Title = "remove_event";
}

<h2>remove_event</h2>

<div id="listView"></div>
<script>
    $("#listView").kendoListView({
        template: "<div>#: name#</div>",
        dataSource: {
            data: [
                { id: 1, name: "Jane Doe", age: 47 },
                { id: 2, name: "John Doe", age: 50 }
            ],
            schema: {
                model: {
                    id: "id",
                    fields: {
                        id: { type: "number" },
                        name: { type: "string" },
                        age: { type: "number" }
                    }
                }
            }
        },
        remove: function (e) {
            //handle event
            e.preventDefault();
        }
    });
    // get a reference to the list view
    var listView = $("#listView").data("kendoListView");
    listView.remove(listView.element.children().first());
</script>

