
@{
    ViewBag.Title = "autoBind";
}

<h2>autoBind</h2>

<select id="multiselect" multiple="multiple">
    <option>Item1</option>
    <option>Item2</option>
</select>
<script>
    $("#multiselect").kendoMultiSelect({
        autoBind: false
    });
</script>


