
@{
    ViewBag.Title = "dataItems";
}

<h2>dataItems</h2>

<select id="multiselect" multiple="multiple">
    <option>Item1</option>
    <option selected="selected">Item2</option>
</select>
<script>
$("#multiselect").kendoMultiSelect();

var multiselect = $("#multiselect").data("kendoMultiSelect");

// get data items for the selected options.
var dataItem = multiselect.dataItems();
</script>

