
@{
    ViewBag.Title = "disable_caseinsensitive_suggestions";
}

<h2>disable_caseinsensitive_suggestions</h2>

<select id="multiselect" multiple="multiple">
    <option>Item1</option>
    <option>Item2</option>
</select>
<script>
$("#multiselect").kendoMultiSelect({
  ignoreCase: false
});
</script>

