
@{
    ViewBag.Title = "disable_open_and_close_animations";
}

<h2>disable_open_and_close_animations</h2>

<select id="multiselect" multiple="multiple">
    <option>Item1</option>
    <option>Item2</option>
</select>
<script>
    $("#multiselect").kendoMultiSelect({
        animation: false
    });
</script>

