
@{
    ViewBag.Title = "enable_the_widget";
}

<h2>enable_the_widget</h2>

<select id="multiselect" multiple="multiple">
    <option>Item1</option>
    <option>Item2</option>
</select>
<script>
$("#multiselect").kendoMultiSelect({
  enable: false
});
var multiselect = $("#multiselect").data("kendoMultiSelect");
multiselect.enable(true);
</script>

