
@{
    ViewBag.Title = "set_highlightFirst";
}

<h2>set_highlightFirst</h2>

<select id="multiselect" multiple="multiple">
    <option>Item1</option>
    <option>Item2</option>
</select>
<script>
$("#multiselect").kendoMultiSelect({
  highlightFirst: false
});
</script>

