
@{
    ViewBag.Title = "set_the_height";
}


<h2>set_the_height</h2>

<select id="multiselect" multiple="multiple">
    <option>Item1</option>
    <option>Item2</option>
</select>
<script>
    $("#multiselect").kendoMultiSelect({
        height: 500
    });    
</script>

