
@{
    ViewBag.Title = "specify_tagTemplate_as_a_function";
}

<h2>specify_tagTemplate_as_a_function</h2>

<select id="multiselect" multiple="multiple"></select>
<script id="tagTemplate" type="text/x-kendo-template">
    <span>
        <img src="/Images/#: name #.png" alt="#: name #" />
        #: name #
    </span>
</script>
<script>
$("#multiselect").kendoMultiSelect({
  dataSource: [
    { id: 1, name: "Apples" },
    { id: 2, name: "Oranges" }
  ],
  dataTextField: "name",
  dataValueField: "id",
  tagTemplate: kendo.template($("#tagTemplate").html())
});
</script>

