
@{
    ViewBag.Title = "specify_placeholder_as_HTML_attribute";
}

<h2>specify_placeholder_as_HTML_attribute</h2>

<select id="multiselect" data-placeholder=" select..." multiple="multiple">
    <option>Item1</option>
    <option>Item2</option>
</select>

<script>
$("#multiselect").kendoMultiSelect();
</script>

