@{
    ViewBag.Title = "subscribe_to_the_open_event_after_initialization";
}

<h2>subscribe_to_the_open_event_after_initialization</h2>

<select id="multiselect" multiple="multiple">
    <option>Item1</option>
    <option>Item2</option>
</select>
<script>
    function multiselect_open(e) {
        // handle the event
        alert('open event is fired!');
    }
    $("#multiselect").kendoMultiSelect();
    var multiselect = $("#multiselect").data("kendoMultiSelect");
    multiselect.bind("open", multiselect_open);
</script>