
@{
    ViewBag.Title = "subscribe_to_the_change_event_during_initialization";
}

<h2>subscribe_to_the_change_event_during_initialization</h2>

<select id="multiselect" multiple="multiple">
    <option>Item1</option>
    <option>Item2</option>
</select>
<script>
$("#multiselect").kendoMultiSelect({
  change: function(e) {
    alert(this.value());
    // Use the value of the widget
  }
});
</script>

