@{
    ViewBag.Title = "subscribe_to_the_close_event_during_initialization";
}

<h2>subscribe_to_the_close_event_during_initialization</h2>

<select id="multiselect" multiple="multiple">
    <option>Item1</option>
    <option>Item2</option>
</select>
<script>
    $("#multiselect").kendoMultiSelect({
        close: function (e) {
            alert('close event is fired!')
        }
    });
</script>
