
@{
    ViewBag.Title = "valuePrimitive";
}

<h2>valuePrimitive</h2>

<select id="multiselect" multiple="multiple" data-bind="value: values, source: products"></select>

<script>
$("#multiselect").kendoMultiSelect({
  valuePrimitive: true,
  dataTextField: "name",
  dataValueField: "id"
});
var viewModel = kendo.observable({
  selectedProductId: [],
  products: [
    { id: 1, name: "Coffee" },
    { id: 2, name: "Tea" },
    { id: 3, name: "Juice" }
  ]
});

kendo.bind($("#multiselect"), viewModel);
</script>

