@{
    ViewBag.Title = "deactivateTab";
}

<h2>deactivateTab</h2>

<div id="tabstrip">
    <ul>
        <li id="tab1">Tab 1</li>
        <li>Tab 2</li>
    </ul>
    <div>Content 1</div>
    <div>Content 2</div>
</div>

<script>
    var tabToDeactivate = $("#tab1");
    $("#tabstrip").kendoTabStrip().data("kendoTabStrip").deactivateTab(tabToDeactivate);
</script>