@{
    ViewBag.Title = "select";
}

<h2>select</h2>

<div id="tabstrip">
    <ul>
        <li>Tab 1</li>
        <li>Tab 2</li>
    </ul>
    <div>Content 1</div>
    <div>Content 2</div>
</div>

<script>
    var tabStrip = $("#tabstrip").kendoTabStrip().data("kendoTabStrip");

    tabStrip.select("li:first");        // Select by jQuery selector
    tabStrip.select(1);                 // Select by index
</script>