
@{
    ViewBag.Title = "Attach_open_event_handler_via_bind_detach_via_unbind";
}

<h2>Attach_open_event_handler_via_bind_detach_via_unbind</h2>

<nav id="navigation">
    <a href="#">Home</a>
    <a href="#">Products</a>
</nav>

<article>
    <button class="k-rpanel-toggle"><span class="k-icon k-i-hbars"></span></button>

    Content
</article>

<script>
    $("#navigation").kendoResponsivePanel({
        orientation:'top'
    });

    // event handler for open event
    var onOpen = function() {
        // the responsive panel is opening
        console.log("opening");
    };

    // attach open event handler via bind()
    $("#navigation").data("kendoResponsivePanel").bind("open", onOpen);
</script>