@{
    ViewBag.Title = "close";
}

<h2>close</h2>

<header>
    <button class="k-rpanel-toggle"><span class="k-icon k-i-hbars"></span></button>
    Logo
</header>

<nav id="navigation">
    <a href="#">Home</a>
    <a href="#">Products</a>
</nav>

<article>
    Content
</article>

<script>
    $("#navigation").kendoResponsivePanel({
        orientation: "top"
    });

    $("#navigation a").click(function (e) {
        e.preventDefault();

        alert("navigating to " + $(e.currentTarget).text());

        var panel = $("#navigation").data("kendoResponsivePanel");
        panel.close();
    });
</script>