@{
    ViewBag.Title = "grid_pager";
}

<h2>grid_pager</h2>

<div id="grid"></div>

<script>
    $("#grid").kendoGrid({
        columns: [
          { field: "productName" },
          { field: "category" }
        ],
        dataSource: [
          { productName: "Tea", category: "Beverages" },
          { productName: "Coffee", category: "Beverages" },
          { productName: "Ham", category: "Food" },
          { productName: "Bread", category: "Food" }
        ],
        pageable: {
            // we don't set any DataSource here
            pageSize: 2,
            buttonCount: 1
        }
    });
</script>