@{
    ViewBag.Title = "pageSize";
}

<h2>pageSize</h2>

<div id="pager"></div>

<script>
    var dataSource = new kendo.data.DataSource({
        data: [
          { productName: "Tea", category: "Beverages" },
          { productName: "Coffee", category: "Beverages" },
          { productName: "Ham", category: "Food" },
          { productName: "Bread", category: "Food" }
        ],
        pageSize: 2
    });

    dataSource.read();

    var pager = $("#pager").kendoPager({
        dataSource: dataSource
    }).data("kendoPager");

    alert(pager.pageSize()); // displays "2"
</script>