
@{
    ViewBag.Title = "selectTemplate";
}

<h2>selectTemplate</h2>

<div id="pager"></div>

<script>
    var dataSource = new kendo.data.DataSource({
      data: [
        { productName: "Tea", category: "Beverages" },
        { productName: "Coffee", category: "Beverages" },
        { productName: "Ham", category: "Food" },
        { productName: "Bread", category: "Food" }
      ],
      pageSize: 2
    });

    $("#pager").kendoPager({
      dataSource: dataSource,
      selectTemplate: '<li><span style="color:red">#=text#</span></li>'
    });

    dataSource.read();
</script>