@{
    ViewBag.Title = "set_the_tooltip_of_the_refresh_button";
}

<h2>set_the_tooltip_of_the_refresh_button</h2>

<div id="pager"></div>

<script>
    var dataSource = new kendo.data.DataSource({
        data: [
          { productName: "Tea", category: "Beverages" },
          { productName: "Coffee", category: "Beverages" },
          { productName: "Ham", category: "Food" },
          { productName: "Bread", category: "Food" }
        ],
        pageSize: 2
    });

    $("#pager").kendoPager({
        dataSource: dataSource,
        refresh: true,
        messages: {
            refresh: "Refresh data"
        }
    });

    dataSource.read();
</script>