@{
    ViewBag.Title = "set_the_label_after_the_page_size_DropDownList";
}

<h2>set_the_label_after_the_page_size_DropDownList</h2>

<div id="pager"></div>

<script>
    var dataSource = new kendo.data.DataSource({
        data: [
          { productName: "Tea", category: "Beverages" },
          { productName: "Coffee", category: "Beverages" },
          { productName: "Ham", category: "Food" },
          { productName: "Bread", category: "Food" }
        ],
        pageSize: 2
    });

    $("#pager").kendoPager({
        dataSource: dataSource,
        pageSizes: true,
        messages: {
            itemsPerPage: "data items per page"
        }
    });

    dataSource.read();
</script>