@{
    ViewBag.Title = "change_event";
}

<h2>change_event</h2>

<script>
    var observable = new kendo.data.ObservableObject({ name: "John Doe" });

    observable.bind("change", function (e) {
        alert(e.field); // will output the field name when the event is raised
    });

    observable.set("name", "Jane Doe"); // raises the "change" event and the handler outputs "name"
</script>
