@{
    ViewBag.Title = "destroy";
}

<h2>destroy</h2>

<div class="k-widget k-calendar" id="calendar"></div>

<script>
    $("#calendar").kendoCalendar({
    });

    var calendar = $("#calendar").data("kendoCalendar");

    // detach events
    calendar.destroy();
</script>
