@{
    ViewBag.Title = "RTL";
}

<h2>RTL</h2>

<div class="k-rtl">
    <div class="k-widget k-calendar k-rtl" id="calendar"></div>
</div>

<script>
    $("#calendar").kendoCalendar({
    });
</script>

