@{
    ViewBag.Title = "subscribe_to_the_change_event_during_initialization";
}

<h2>subscribe_to_the_change_event_during_initialization</h2>

<div class="k-widget k-calendar" id="calendar"></div>

<script>
    $("#calendar").kendoCalendar({
        change: function (e) {
            alert(this.value());
        },
    });
</script>

