@{
    ViewBag.Title = "view";
}

<h2>view</h2>

<div class="k-widget k-calendar" id="calendar"></div>

<script>
    $("#calendar").kendoCalendar({
    });

    var calendar = $("#calendar").data("kendoCalendar");

    // get the current focused date
    var view = calendar.view();
</script>

