@{
    ViewBag.Title = "get_reference_to_the_widget_data_source";
}

<h2>get_reference_to_the_widget_data_source</h2>

<div id="configurator"></div>
<script>
    $("#configurator").kendoPivotConfigurator({
        dataSource: {
            type: "xmla",
            columns: [{ name: "[Date].[Calendar]", expand: true }, { name: "[Geography].[City]" }],
            rows: [{ name: "[Product].[Product]" }],
            measures: ["[Measures].[Internet Sales Amount]"],
            transport: {
                connection: {
                    catalog: "Adventure Works DW 2008R2",
                    cube: "Adventure Works"
                },
                discover: {
                    url: "http://demos.telerik.com/olap/msmdpump.dll",
                    dataType: "text",
                    contentType: "text/xml",
                    type: "POST"
                }
            },
            schema: {
                type: "xmla"
            }
        }
    });

    debugger;
    //get reference to the widget data source
    var dataSource = $("#configurator").data("kendoPivotConfigurator").dataSource;
</script>