@{
    ViewBag.Title = "set_dataSource_as_an_existing_kendo_data_PivotDataSource_instance";
}

<h2>set_dataSource_as_an_existing_kendo_data_PivotDataSource_instance</h2>

<div id="configurator"></div>
<script>
    var dataSource = new kendo.data.PivotDataSource({
        type: "xmla",
        columns: [{ name: "[Date].[Calendar]", expand: true }, { name: "[Geography].[City]" }],
        rows: [{ name: "[Product].[Product]" }],
        measures: ["[Measures].[Internet Sales Amount]"],
        transport: {
            connection: {
                catalog: "Adventure Works DW 2008R2",
                cube: "Adventure Works"
            },
            discover: {
                url: "http://demos.telerik.com/olap/msmdpump.dll",
                dataType: "text",
                contentType: "text/xml",
                type: "POST"
            }
        },
        schema: {
            type: "xmla"
        }
    });

    $("#configurator").kendoPivotConfigurator({
        dataSource: dataSource
    });
</script>
