
@{
    ViewBag.Title = "cancel";
}

<h2>cancel</h2>

<ul id="sortable">
    <li>Item1</li>
    <li>Item2</li>
    <li>Item3</li>
</ul>

<script>
    $("#sortable").kendoSortable({
        cancel: function(e) {
            console.log(e.item.text() + " sorting cancelled!");
        }
    });
</script>