@{
    ViewBag.Title = "placeholder";
}

<h2>placeholder</h2>

<ul id="sortable">
    <li>ItemA1</li>
    <li>ItemA2</li>
    <li>ItemA3</li>
</ul>

<script>
    $("#sortable").kendoSortable({
        placeholder: function (element) {
            return element.clone().css({
                "opacity": 0.3,
                "border": "1px dashed #000000"
            });
        }
    });
</script>