@{
    ViewBag.Title = "Creating_a_New_ObservableArray";
}

<h2>Creating_a_New_ObservableArray</h2>

<script>
    $(document).ready(function () {
        var observableArray = new kendo.data.ObservableArray([{ name: "John Doe" }, { name: "Jane Doe" }]);
    })
</script>
