
@{
    ViewBag.Title = "clearPromptChar";
}

<h2>clearPromptChar</h2>

<input id="maskedtextbox" />
<script>
    $("#maskedtextbox").kendoMaskedTextBox({
        mask: "000000",
        clearPromptChar: true
    });
</script>

