
@{
    ViewBag.Title = "make_the_widget_readonly";
}

<h2>make_the_widget_readonly</h2>

<input id="maskedtextbox" />
<script>
    $("#maskedtextbox").kendoMaskedTextBox();

    var maskedtextbox = $("#maskedtextbox").data("kendoMaskedTextBox");
    maskedtextbox.readonly();
</script>

