
@{
    ViewBag.Title = "subscribe_to_the_change_event_after_initialization";
}

<h2>subscribe_to_the_change_event_after_initialization</h2>

<input id="maskedtextbox" />
<script>
    $("#maskedtextbox").kendoMaskedTextBox();

    var maskedtextbox = $("#maskedtextbox").data("kendoMaskedTextBox");

    maskedtextbox.bind("change", function () {
        var value = this.value();
        alert(value); //value is the selected date in the maskedtextbox
    });
</script>

