@{
    ViewBag.Title = "parseFormats";
}

<h2>parseFormats</h2>

<input id="dateTimePicker" name="dateTimePicker" style="width: 200px" type="date"  />

<script src="~/Scripts/kendo/2013.3.1213/cultures/kendo.culture.en-US.min.js"></script>
<script>
    $("#dateTimePicker").kendoDateTimePicker({
        format: "yyyy/MM/dd hh:mm tt",
        parseFormats: ["MMMM yyyy", "HH:mm"] //format also will be added to parseFormats
    });
</script>

