@{
    ViewBag.Title = "readOnly";
}

<h2>readOnly</h2>

<input id="dateTimePicker" name="dateTimePicker" style="width: 150px" type="date" />
<input type="button" id="btnReadOnly" value="Readonly"/> 

<script src="~/Scripts/kendo/2013.3.1213/cultures/kendo.culture.en-US.min.js"></script>
<script>
    $("#dateTimePicker").kendoDateTimePicker({
    });

    var dateTimePicker = $('#dateTimePicker').data('kendoDateTimePicker');

    $('#btnReadOnly').click(function () {
        dateTimePicker.readonly(true);
    })

</script>

