@{
    ViewBag.Title = "RTL";
}

<h2>RTL</h2>

<div class="k-rtl">
    <input id="dateTimePicker" name="dateTimePicker" />
</div>


<script src="~/Scripts/kendo/2013.3.1213/cultures/kendo.culture.en-US.min.js"></script>
<script>
    $("#dateTimePicker").kendoDateTimePicker({
    });
</script>
