@{
    ViewBag.Title = "animation_open";
}

<h2>animation_open</h2>

<input type="text" id="comboBox" name="comboBox" />

<script>
    $("#comboBox").kendoComboBox({
        dataSource: new kendo.data.DataSource({
            transport: {
                read: {
                    url: "@Url.Action("GetProducts", "Kendo_Data_DataSource")",
                    dataType: "json"
                },
            }
        }),
        autoBind: false,
        dataTextField: "ProductName",
        animation: {
            open: {
                effects: "fadeIn",
                duration: 300,
                show: true
            }
        }
    })
</script>

