@{
    ViewBag.Title = "close_event";
}

<h2>close_event</h2>

<input type="text" id="comboBox" name="comboBox" />

<script>
    $("#comboBox").kendoComboBox({
        dataSource: new kendo.data.DataSource({
            transport: {
                read: {
                    url: "@Url.Action("GetProducts", "Kendo_Data_DataSource")",
                    dataType: "json"
                },
            }
        }),
        dataTextField: "ProductName",
    });

    var combobox = $("#comboBox").data("kendoComboBox");
    combobox.bind("close", function (e) {
        alert("combobox is closed");
    })

</script>




