@{
    ViewBag.Title = "RTL";
}

<h2>RTL</h2>

<link href="~/Content/kendo/kendo.rtl.min.css" rel="stylesheet" />

<div class="k-rtl">
    <input type="text" id="comboBox" name="comboBox" style="width:200px;"  />
</div>

<script>
    $("#comboBox").kendoComboBox({
        dataSource: new kendo.data.DataSource({
            transport: {
                read: {
                    url: "@Url.Action("GetProducts", "Kendo_Data_DataSource")",
                    dataType: "json"
                },
            }
        }),
        dataTextField: "ProductName",
        dataValueField: "ProductID",
    });
</script>

