@{
    ViewBag.Title = "suggest";
}

<h2>suggest</h2>

<input type="text" id="comboBox" name="comboBox" />

<script>
    $("#comboBox").kendoComboBox({
        dataSource: new kendo.data.DataSource({
            transport: {
                read: {
                    url: "@Url.Action("GetProducts", "Kendo_Data_DataSource")",
                    dataType: "json"
                },
            }
        }),
        dataTextField: "ProductName",
        filter: "startswith",
        suggest: true
    });

    var comboBox = $('#comboBox').data('kendoComboBox');
    comboBox.suggest('C');
</script>

