@{
    ViewBag.Title = "template";
}

<h2>template</h2>

<input type="text" id="comboBox" name="comboBox" />

<script id="template" type="text/x-kendo-template">
  <span>
    <img src="/Images/#: ID #.png" alt="#: Name #" />
    #: Name #
  </span>
 </script>

 <script>
     $("#comboBox").kendoComboBox({
        dataSource: new kendo.data.DataSource({
            transport: {
                read: {
                    url: "@Url.Action("GetFruits", "Kendo_UI_AutoComplete")",
                    dataType: "json"
                },
            }
        }),
        dataTextField: "Name",
        dataValueField: "ID",
        template: kendo.template($("#template").html())
     });
 </script>
