@{
    ViewBag.Title = "downArrowText";
}

<h2>downArrowText</h2>

<input id="numerictextbox" />
<script>
    $("#numerictextbox").kendoNumericTextBox({
        downArrowText: "Less"
    });
</script>