@{
    ViewBag.Title = "placeholder";
}

<h2>placeholder</h2>

<input id="numerictextbox" />
<script>
    $("#numerictextbox").kendoNumericTextBox({
        placeholder: "Select A Value"
    });
</script>