@{
    ViewBag.Title = "specify_step_option";
}

<h2>specify_step_option</h2>

<input id="numerictextbox" />
<script>
    $("#numerictextbox").kendoNumericTextBox({
        step: 0.1
    });
</script>