@{
    ViewBag.Title = "specify_value_option_as_a_HTML_attribute";
}

<h2>specify_value_option_as_a_HTML_attribute</h2>

<input id="numerictextbox" value="10" />
<script>
    $("#numerictextbox").kendoNumericTextBox();
</script>