@{
    ViewBag.Title = "specify_value_option";
}

<h2>specify_value_option</h2>

<input id="numerictextbox" />
<script>
    $("#numerictextbox").kendoNumericTextBox({
        value: 10
    });
</script>
