@{
    ViewBag.Title = "subscribe_to_the_dataBound_event_during_initialization";
}

<h2>subscribe_to_the_dataBound_event_during_initialization</h2>

<div id="pivotgrid"></div>
<script>
    $("#pivotgrid").kendoPivotGrid({
        height: 550,
        dataBound: function (e) {
            console.log("data bound");
        },
        dataSource: {
            type: "xmla",
            columns: [{ name: "[Date].[Calendar]", expand: true }, { name: "[Geography].[City]" }],
            rows: [{ name: "[Product].[Product]" }],
            measures: ["[Measures].[Internet Sales Amount]"],
            transport: {
                connection: {
                    catalog: "Adventure Works DW 2008R2",
                    cube: "Adventure Works"
                },
                read: {
                    url: "http://demos.telerik.com/olap/msmdpump.dll",
                    dataType: "text",
                    contentType: "text/xml",
                    type: "POST"
                }
            },
            schema: {
                type: "xmla"
            }
        }
    });
</script>