@{
    ViewBag.Title = "animation_duration";
}

<h2>animation_duration</h2>

<div id="progressbar"></div>
<script>
    $("#progressbar").kendoProgressBar({
        animation: {
            duration: 800
        }
    });
</script>  