@{
    ViewBag.Title = "disable_the_progress_animation";
}

<h2>disable_the_progress_animation</h2>

<div id="progressbar"></div>
<script>
    $("#progressbar").kendoProgressBar({
        animation: false
    });
</script>