@{
    ViewBag.Title = "specify_the_duration_of_the_progress_animation";
}

<h2>specify_the_duration_of_the_progress_animation</h2>

<div id="progressbar"></div>
<script>
    $("#progressbar").kendoProgressBar({
        animation: {
            duration: 500
        }
    });
</script>