@{
    ViewBag.Title = "getNotifications";
}

<h2>getNotifications</h2>

<span id="notification"></span>
<script>
    var notificationWidget = $("#notification").kendoNotification({
        button: false,
        hideOnClick: false,
        autoHideAfter: 0
    }).data("kendoNotification");

    notificationWidget.show("foo");
    notificationWidget.show("bar");

    // since there is no way for the user to hide notifications,
    // the following expression will return two elements, no matter when it is executed
    debugger;
    var elements = notificationWidget.getNotifications();
</script>