@{
    ViewBag.Title = "set_height_as_a_number";
}

<h2>set_height_as_a_number</h2>

<span id="notification"></span>
<script>
    $("#notification").kendoNotification({
        height: 50
    });
    $('#notification').data('kendoNotification').show('Test notification');
</script>