@{
    ViewBag.Title = "set_width_as_a_string";
}

<h2>set_width_as_a_string</h2>

<span id="notification"></span>
<script>
    $("#notification").kendoNotification({
        width: "20em"
    });
    $('#notification').data('kendoNotification').show('Test notification');
</script>