
@{
    ViewBag.Title = "stacking";
}

<h2>stacking</h2>

<span id="notification"></span>
<script>
$("#notification").kendoNotification({
    position: {
        top: 20,
        right: 20
    },
    //stacking: "down"
});
$('#notification').data('kendoNotification').show('Test notification');
</script>