@{
    ViewBag.Title = "use_the_show_method_with_an_object_argument";
}

<h2>use_the_show_method_with_an_object_argument</h2>

<span id="notification"></span>
<script>
    var notificationWidget = $("#notification").kendoNotification({
        templates: [{
            type: "myAlert",
            template: "<div>System alert: #= myMessage #</div>"
        }]
    }).data("kendoNotification");

    notificationWidget.show({ myMessage: "foo text" }, "myAlert");
</script>