@{
    ViewBag.Title = "Attach_expand_event_handler_via_bind_detach_via_unbind";
}

<h2>Attach_expand_event_handler_via_bind_detach_via_unbind</h2>

<ul id="panelbar">
    <li>
        Item 1
        <ul>
            <li>Sub Item 1</li>
            <li>Sub Item 2</li>
            <li>Sub Item 3</li>
        </ul>
    </li>
    <li>
        Item 2
        <ul>
            <li>Sub Item 1</li>
            <li>Sub Item 2</li>
            <li>Sub Item 3</li>
        </ul>
    </li>
</ul>
<script>
    $("#panelbar").kendoPanelBar();

    // event handler for expand
    var onExpand = function (e) {
        // access the expanded item via e.item (HTMLElement)
        alert('expand event is fired!');
        // detach expand event handler via unbind()
        $("#panelbar").data("kendoPanelBar").unbind("expand", onExpand);
    };

    // attach expand event handler via bind()
    $("#panelbar").data("kendoPanelBar").bind("expand", onExpand);
</script>