@{
    ViewBag.Title = "insertBefore";
}

<h2>insertBefore</h2>

<ul id="panelbar">
    <li>
        Item 1
        <ul>
            <li>Sub Item 1</li>
            <li>Sub Item 2</li>
            <li>Sub Item 3</li>
        </ul>
    </li>
    <li>
        Item 2
        <ul>
            <li>Sub Item 1</li>
            <li>Sub Item 2</li>
            <li>Sub Item 3</li>
        </ul>
    </li>
</ul>
<script>
    $("#panelbar").kendoPanelBar();
    var panelBar = $("#panelbar").data("kendoPanelBar");
    panelBar.insertBefore(
           [{
               text: "Item 1 (link)",
               cssClass: "myClass",                            // Add custom CSS class to the item, optional, added 2012 Q3 SP1.
               url: "https://www.google.com/"                  // link URL if navigation is needed (optional)
           },
            {
                text: "<b>Item 2</b>",
                encoded: false,                                 // Allows use of HTML for item text
                content: "text"                                 // content within an item
            },
            {
                text: "Item 3",
                // content URL to load within an item
                contentUrl: "/infrastructure/PanelbarContent.html"
            },
            {
                text: "Item 4",
                // item image URL, optional
                imageUrl: "/Images/Apples.png",
                expanded: true,                                 // item is rendered expanded
                items: [{                                       // Sub item collection.
                    text: "Sub Item 1"
                },
                {
                    text: "Sub Item 2"
                }]
            },
            {
                text: "Item 5"
            }
           ],
        "li:last-child"
    );
</script>