@{
    ViewBag.Title = "allDayEventTemplate";
}

<h2>allDayEventTemplate</h2>

<script id="event-template" type="text/x-kendo-template">
    <div>Title: #: title #</div>
    <div>
        Attendees:
        # for (var i = 0; i < resources.length; i++) { #
        #: resources[i].text #
        # } #
    </div>
</script>
<div id="scheduler"></div>
<script>
    $("#scheduler").kendoScheduler({
        date: new Date("2013/6/6"),
        allDayEventTemplate: $("#event-template").html(),
        dataSource: [
          {
              id: 1,
              start: new Date("2013/6/6 08:00 AM"),
              end: new Date("2013/6/6 09:00 AM"),
              isAllDay: true,
              title: "Interview",
              attendees: [1, 2]
          }
        ],
        resources: [
          {
              field: "attendees",
              dataSource: [
               { value: 1, text: "Alex" },
               { value: 2, text: "Bob" }
              ],
              multiple: true
          }
        ]
    });
</script>