@{
    ViewBag.Title = "date_method";
}

<h2>date_method</h2>

<div id="scheduler"></div>
<script>
    $("#scheduler").kendoScheduler({
        dataSource: [
          {
              id: 1,
              start: new Date("2013/6/6 08:00 AM"),
              end: new Date("2013/6/6 09:00 AM"),
              title: "Interview"
          }
        ]
    });
    var scheduler = $("#scheduler").data("kendoScheduler");
    scheduler.date(new Date("2013/6/6"));
</script>