@{
    ViewBag.Title = "editable_resize";
}

<h2>editable_resize</h2>

<div id="scheduler"></div>
<script>
    $("#scheduler").kendoScheduler({
        date: new Date("2013/6/6"),
        dataSource: [
          {
              start: new Date("2013/6/6 08:00 AM"),
              end: new Date("2013/6/6 09:00 AM"),
              title: "Breakfast"
          }
        ],
        editable: {
            resize: false
        }
    });
</script>