@{
    ViewBag.Title = "group_resources";
}

<h2>group_resources</h2>

<div id="scheduler"></div>
<script>
    $("#scheduler").kendoScheduler({
        date: new Date("2013/6/6"),
        group: {
            resources: ["Rooms"]
        },
        dataSource: [
          {
              id: 1,
              start: new Date("2013/6/6 08:00 AM"),
              end: new Date("2013/6/6 09:00 AM"),
              title: "Interview",
              roomId: 1 // the event is held in "Small meeting room" whose value is 1
          },
          {
              id: 2,
              start: new Date("2013/6/6 08:00 AM"),
              end: new Date("2013/6/6 09:00 AM"),
              title: "Meeting",
              roomId: 2 // the event is held in "Big meeting room" whose value is 2
          }
        ],
        resources: [
          {
              field: "roomId",
              name: "Rooms",
              dataColorField: "key",
              dataSource: [
                { text: "Small meeting room", value: 1, key: "#aabbcc" },
                { text: "Big meeting room", value: 2, key: "green" }
              ]
          }
        ]
    });
</script>