@{
    ViewBag.Title = "messages_editor_start";
}

<h2>messages_editor_start</h2>

<div id="scheduler"></div>
<script>
    $("#scheduler").kendoScheduler({
        date: new Date("2013/6/6"),
        messages: {
            editor: {
                start: "Start of the event"
            }
        },
        dataSource: [
          {
              id: 1,
              start: new Date("2013/6/6 08:00 AM"),
              end: new Date("2013/6/6 09:00 AM"),
              title: "Interview"
          }
        ]
    });
</script>