@{
    ViewBag.Title = "messages_ariaSlotLabel";
}

<h2>messages_ariaSlotLabel</h2>

<div id="scheduler"></div>
<script>
    $("#scheduler").kendoScheduler({
        selectable: true,
        date: new Date("2013/6/6"),
        messages: {
            ariaSlotLabel: "Selected from {0:g} to {1:g}"
        },
        dataSource: [
          {
              id: 1,
              start: new Date("2013/6/6 08:00 AM"),
              end: new Date("2013/6/6 09:00 AM"),
              title: "Interview"
          }
        ]
    });
</script>