@{
    ViewBag.Title = "modify_the_slot_based_on_resources";
}

<h2>modify_the_slot_based_on_resources</h2>

<div id="scheduler"></div>
<script id="slotTemplate" type="text/x-kendo-template">
    # var resources = data.resources(); #
    # var color = resources.roomId === 1 ? "red" : "blue"; #

    <span style="background: #=color#">
        #=kendo.toString(date, "d")#
    </span>
</script>
<script>
    $("#scheduler").kendoScheduler({
        date: new Date("2013/6/6"),
        views: [{
            type: "day",
            slotTemplate: kendo.template($("#slotTemplate").html())
        }],
        group: {
            resources: ["Rooms"]
        },
        resources: [
          {
              field: "roomId",
              name: "Rooms",
              dataSource: [
                { text: "Meeting Room 101", value: 1, color: "#6eb3fa" },
                { text: "Meeting Room 201", value: 2, color: "#f58a8a" }
              ],
              title: "Room"
          }
        ]
    });
</script>