@{
    ViewBag.Title = "pdf_margin";
}

<h2>pdf_margin</h2>

<div id="scheduler"></div>
<script>
    $("#scheduler").kendoScheduler({
        toolbar: ["pdf"],
        pdf: {
            margin: {
                left: 10,
                right: "10pt",
                top: "10mm",
                bottom: "1in"
            }
        },
        date: new Date("2013/6/6"),
        dataSource: [
          {
              id: 1,
              start: new Date("2013/6/6 08:00 AM"),
              end: new Date("2013/6/6 09:00 AM"),
              title: "Interview"
          }
        ]
    });
</script>