@{
    ViewBag.Title = "saveAsPDF";
}

<h2>saveAsPDF</h2>

<button id="export">Export to PDF</button>
<div id="scheduler"></div>
<script>
    $("#scheduler").kendoScheduler({
        toolbar: ["pdf"],
        date: new Date("2013/6/6"),
        dataSource: [
          {
              id: 1,
              start: new Date("2013/6/6 08:00 AM"),
              end: new Date("2013/6/6 09:00 AM"),
              title: "Interview"
          }
        ]
    });
    $("#export").click(function (e) {
        var scheduler = $("#scheduler").data("kendoScheduler");
        scheduler.saveAsPDF();
    });
</script>