@{
    ViewBag.Title = "set_views_as_array_of_objects";
}

<h2>set_views_as_array_of_objects</h2>

<div id="scheduler"></div>
<script>
    $("#scheduler").kendoScheduler({
        date: new Date("2013/6/6"),
        views: [
          { type: "day" },
          { type: "month" }
        ],
        dataSource: [
          {
              id: 1,
              start: new Date("2013/6/6 08:00 AM"),
              end: new Date("2013/6/6 09:00 AM"),
              title: "Interview"
          },
          {
              id: 2,
              start: new Date("2013/6/6 08:00 AM"),
              end: new Date("2013/6/6 09:00 AM"),
              title: "Meeting"
          }
        ]
    });
</script>