@{
    ViewBag.Title = "set_dataSource_as_an_existing_kendo_data_SchedulerDataSource_instance";
}

<h2>set_dataSource_as_an_existing_kendo_data_SchedulerDataSource_instance</h2>

<div id="scheduler"></div>
<script>
    var dataSource = new kendo.data.SchedulerDataSource({
        batch: true,
        transport: {
            read: {
                url: "http://demos.telerik.com/kendo-ui/service/tasks",
                dataType: "jsonp"
            }
        },
        schema: {
            model: {
                id: "ID",
                fields: {
                    ID: { type: "number" },
                    title: { field: "Title", defaultValue: "No title", validation: { required: true } },
                    start: { type: "date", field: "Start" },
                    end: { type: "date", field: "End" },
                    description: { field: "Description" },
                    recurrenceId: { from: "RecurrenceID" },
                    recurrenceRule: { from: "RecurrenceRule" },
                    recurrenceException: { from: "RecurrenceException" },
                    ownerId: { field: "OwnerID", defaultValue: 1 },
                    isAllDay: { type: "boolean", field: "IsAllDay" }
                }
            }
        }
    });
    $("#scheduler").kendoScheduler({
        date: new Date("2013/6/6"),
        dataSource: dataSource
    });
</script>