@{
    ViewBag.Title = "set_dataSource_as_a_JavaScript_array";
}

<h2>set_dataSource_as_a_JavaScript_array</h2>

<div id="scheduler"></div>
<script>
    $("#scheduler").kendoScheduler({
        date: new Date("2013/6/6"),
        dataSource: [
          {
              id: 1,
              start: new Date("2013/6/6 08:00 AM"),
              end: new Date("2013/6/6 09:00 AM"),
              title: "Interview"
          },
          {
              id: 2,
              start: new Date("2013/6/6 08:00 AM"),
              end: new Date("2013/6/6 09:00 AM"),
              title: "Meeting"
          }
        ]
    });
</script>