@{
    ViewBag.Title = "slotByElement";
}

<h2>slotByElement</h2>

<div id="scheduler"></div>
<script>
    $("#scheduler").kendoScheduler({
        date: new Date("2013/6/6")
    });
    var scheduler = $("#scheduler").data("kendoScheduler");
    var element = scheduler.view().content.find("tr:first td:first");
    var slot = scheduler.slotByElement(element);

    console.log("slot startDate: " + slot.startDate);
    console.log("slot endDate: " + slot.endDate);
</script>