@{
    ViewBag.Title = "startTime";
}

<h2>startTime</h2>

<div id="scheduler"></div>
<script>
    $("#scheduler").kendoScheduler({
        date: new Date("2013/6/6"),
        startTime: new Date("2013/6/6 08:00"),
        endTime: new Date("2013/6/6 18:00"),
        views: ["day", "week"],
        dataSource: [
          {
              id: 1,
              start: new Date("2013/6/6 08:00 AM"),
              end: new Date("2013/6/6 09:00 AM"),
              title: "Interview"
          }
        ]
    });
</script>