@{
    ViewBag.Title = "subscribe_to_the_move_event_after_initialization";
}

<h2>subscribe_to_the_move_event_after_initialization</h2>

<div id="scheduler"></div>
<script>
    function scheduler_move(e) {
        console.log("Move", e.slot.start);
    }
    $("#scheduler").kendoScheduler({
        date: new Date("2013/6/6"),
        views: ["day", "month"],
        dataSource: [
          {
              id: 1,
              start: new Date("2013/6/6 08:00 AM"),
              end: new Date("2013/6/6 09:00 AM"),
              title: "Interview"
          }
        ]
    });
    var scheduler = $("#scheduler").data("kendoScheduler");
    scheduler.bind("move", scheduler_move);
</script>