@{
    ViewBag.Title = "subscribe_to_the_dataBinding_event_during_initialization";
}

<h2>subscribe_to_the_dataBinding_event_during_initialization</h2>

<div id="scheduler"></div>
<script>
    $("#scheduler").kendoScheduler({
        date: new Date("2013/6/6"),
        views: [ "day", "month" ],
        dataSource: [
          {
              id: 1,
              start: new Date("2013/6/6 08:00 AM"),
              end: new Date("2013/6/6 09:00 AM"),
              title: "Interview"
          }
        ],
        dataBinding: function(e) {
            console.log("dataBinding");
        }
    });
</script>