@{
    ViewBag.Title = "views_eventTimeTemplate";
}

<h2>views_eventTimeTemplate</h2>

<script id="event-time-template" type="text/x-kendo-template">
    # if (isAllDay) { #
    All day
    # } else { #
    #= kendo.toString(start, "t") # - #= kendo.toString(end, "t") #
    # }  #
</script>
<div id="scheduler"></div>
<script>
    $("#scheduler").kendoScheduler({
        date: new Date("2013/6/6"),
        views: [
          {
              type: "agenda",
              eventTimeTemplate: $("#event-time-template").html(),
          }
        ],
        dataSource: [
          {
              id: 1,
              start: new Date("2013/6/6 08:00 AM"),
              end: new Date("2013/6/6 09:00 AM"),
              isAllDay: false,
              title: "Interview"
          }
        ]
    });
</script>