@{
    ViewBag.Title = "views_minorTickCount";
}

<h2>views_minorTickCount</h2>

<div id="scheduler"></div>
<script>
    $("#scheduler").kendoScheduler({
        date: new Date("2013/6/6"),
        views: [
          {
              type: "day",
              minorTickCount: 1 // display one time slot per major tick
          },
        ],
        dataSource: [
          {
              id: 1,
              start: new Date("2013/6/6 08:00 AM"),
              end: new Date("2013/6/6 09:00 AM"),
              title: "Interview"
          }
        ]
    });
</script>