@{
    ViewBag.Title = "views_editable_destroy";
}

<h2>views_editable_destroy</h2>

<div id="scheduler"></div>
<script>
    $("#scheduler").kendoScheduler({
        date: new Date("2013/6/6"),
        views: [
          {
              type: "day",
              editable: {
                  destroy: false
              }
          },
        ],
        dataSource: [
          {
              id: 1,
              start: new Date("2013/6/6 08:00 AM"),
              end: new Date("2013/6/6 09:00 AM"),
              title: "Interview"
          }
        ]
    });
</script>