@{
    ViewBag.Title = "find_a_model_by_id";
}

<h2>find_a_model_by_id</h2>

<script>
    $(document).ready(function () {
        var dataSource = new kendo.data.DataSource({
            data: [
              { id: 1, name: "Jane Doe" },
              { id: 2, name: "John Doe" }
            ],
            schema: {
                model: { id: "id" }
            }
        });
        dataSource.fetch(function () {
            var dataItem = dataSource.get(1);
            alert(dataItem.name); // displays "Jane Doe"
        });
    })
</script>
