@{
    ViewBag.Title = "get_the_page_size";
}

<h2>get_the_page_size</h2>

<script>
    $(document).ready(function () {
        var dataSource = new kendo.data.DataSource({
            data: [
              { name: "Jane Doe" },
              { name: "John Doe" }
            ],
            pageSize: 1
        });
        alert(dataSource.pageSize()); // displays "1"
    })
</script>
