@{
    ViewBag.Title = "get_the_paged_and_sorted_data_items";
}

<h2>get_the_paged_and_sorted_data_items</h2>

<script>
    $(document).ready(function () {
        var dataSource = new kendo.data.DataSource({
            data: [
              { name: "Tea", category: "Beverages" },
              { name: "ZCoffee", category: "Beverages" },
              { name: "Ham", category: "Food" }
            ],
            pageSize: 1,
            page: 3,
            sort: { field: "category", dir: "desc" }
        });
        dataSource.fetch(function () {
            var view = dataSource.view();
            alert(view.length); // displays "1"
            alert(view[0].name); // displays "Tea"
            alert(view[0].category); // displays "Beverages"
        });
    })
</script>
