@{
    ViewBag.Title = "group_the_data_items";
}

<h2>group_the_data_items</h2>

<script>
    $(document).ready(function () {
        var dataSource = new kendo.data.DataSource({
            data: [
              { name: "Tea", category: "Beverages" },
              { name: "Coffee", category: "Beverages" },
              { name: "Ham", category: "Food" }
            ]
        });
        dataSource.group({ field: "category" });
        var view = dataSource.view();
        alert(view.length); // displays "2"
        var beverages = view[0];
        alert(beverages.value); // displays "Beverages"
        alert(beverages.items[0].name); // displays "Tea"
        alert(beverages.items[1].name); // displays "Coffee"
        var food = view[1];
        alert(food.value); // displays "Food"
        alert(food.items[0].name); // displays "Ham"
    })
</script>
