@{
    ViewBag.Title = "set_the_model_as_an_existing_kendo_data_Model_instance";
}

<h2>set_the_model_as_an_existing_kendo_data_Model_instance</h2>

<script>
    $(document).ready(function () {
        var Product = kendo.data.Model.define({
            id: "ProductID",
            fields: {
                ProductID: {
                    //this field will not be editable (default value is true)
                    editable: false,
                    // a defaultValue will not be assigned (default value is false)
                    nullable: true
                },
                ProductName: {
                    //set validation rules
                    validation: { required: true }
                },
                UnitPrice: {
                    //data type of the field {Number|String|Boolean|Date} default is String
                    type: "number",
                    // used when new model is created
                    defaultValue: 42,
                    validation: { required: true, min: 1 }
                }
            }
        });
        var dataSource = new kendo.data.DataSource({
            schema: {
                model: Product
            }
        });
    })
</script>
