@{
    ViewBag.Title = "subscribe_to_the_change_event_after_initialization";
}

<h2>subscribe_to_the_change_event_after_initialization</h2>

<script>
    $(document).ready(function () {
        function dataSource_change(e) {
            var data = this.data();
            alert(data.length);
        }
        var dataSource = new kendo.data.DataSource({
            transport: {
                read: {
                    url: "/Kendo_Data_DataSource/GetProducts",
                    dataType: "json" //"jsonp" is required for cross-domain requests; use "json" for same-domain requests
                }
            }
        });
        dataSource.bind("change", dataSource_change);
        dataSource.fetch();
    })
</script>
