@{
    ViewBag.Title = "subscribe_to_the_requestEnd_event_after_initialization";
}

<h2>subscribe_to_the_requestEnd_event_after_initialization</h2>

<script>
    $(document).ready(function () {
        function dataSource_requestEnd(e) {
            var response = e.response;
            var type = e.type;
            alert(type); // displays "read"
            alert(response.length);
        }
        var dataSource = new kendo.data.DataSource({
            transport: {
                read: {
                    url: "/Kendo_Data_DataSource/GetProducts",
                    dataType: "json"
                }
            }
        });
        dataSource.bind("requestEnd", dataSource_requestEnd);
        dataSource.fetch();
    })
</script>
