@{
    ViewBag.Title = "subscribe_to_the_requestStart_event_during_initialization";
}

<h2>subscribe_to_the_requestStart_event_during_initialization</h2>

<script>
    $(document).ready(function () {
        var dataSource = new kendo.data.DataSource({
            transport: {
                read: {
                    url: "/Kendo_Data_DataSource/GetProducts",
                    dataType: "json"
                }
            },
            requestStart: function (e) {
                alert("request started");
            }
        });
        dataSource.fetch();
    })
</script>
