@{
    ViewBag.Title = "set_dataSource_as_a_JavaScript_object";
}

<h2>set_dataSource_as_a_JavaScript_object</h2>

<style scoped="scoped">
    #shipping {
        width: 482px;
        height: 152px;
        padding: 110px 0 0 30px;
        background: url('/Content/web/autocomplete/shipping.png') transparent no-repeat 0 0;
        margin: 30px auto;
    }

    .k-autocomplete {
        width: 250px;
        vertical-align: middle;
    }
</style>

<div id="shipping">
    <label class="info">By JavaScript:</label>
    <input id="autocomplete" />
</div>

<script>
    $("#autocomplete").kendoAutoComplete({
        dataSource: {
            data: ["One", "Two"]
        },
        separator: "! "
    });
</script>


