@{
    ViewBag.Title = "dataSource";
}

<h2>dataSource</h2>

<style>
    .myClass {
        background-color:blue;
    }
    .imageClass3 {
        background-color:yellowgreen
    }
</style>

<ul id="menu"></ul>
<script>
    $(document).ready(function () {
        $("#menu").kendoMenu({
            dataSource:
              [{
                  text: "Item 1",
                  cssClass: "myClass",                         // Add custom CSS class to the item, optional, added 2012 Q3 SP1.
                  url: "http://www.kendoui.com"                // Link URL if navigation is needed, optional.
              },
              {
                  text: "<b>Item 2</b>",
                  encoded: false,                              // Allows use of HTML for item text
                  content: "text"                              // content within an item
              },
              {
                  text: "Item 3",
                  imageUrl: "http://www.kendoui.com/test.jpg", // Item image URL, optional.
                  items: [{                                    // Sub item collection
                      text: "Sub Item 1"
                  },
                  {
                      text: "Sub Item 2"
                  }]
              },
              {
                  text: "Item 4",
                  spriteCssClass: "imageClass3"                // Item image sprite CSS class, optional.
              }]
        })
    });
</script>

