
@{
    ViewBag.Title = "Initializ_a_Kendo_UI_ContextMenu_using_HTML_markup";
}

<h2>Initializ_a_Kendo_UI_ContextMenu_using_HTML_markup</h2>

<ul id="context-menu">
    <li>Item 1</li>
    <li>Item 2</li>
</ul>
<script>
    $(document).ready(function() {
        $("#context-menu").kendoContextMenu();
    });
</script>