@{
    ViewBag.Title = "optionLabel";
}

<h2>optionLabel</h2>

<input type="text" id="dropdownlist" name="dropdownlist" />

 <script>
     $("#dropdownlist").kendoDropDownList({
         dataSource: new kendo.data.DataSource({
             transport: {
                 read: {
                     url: "@Url.Action("GetProducts", "Kendo_Data_DataSource")",
                     dataType: "json"
                 },
             }
         }),
         dataTextField: "ProductName",
         optionLabel: "Select An Option"
     });
 </script>
