@{
    ViewBag.Title = "culture";
}

<h2>culture</h2>

<input id="datePicker" name="datePicker" style="width: 150px" type="date"  />

<script src="~/Scripts/kendo/2013.3.1213/cultures/kendo.culture.de-DE.min.js"></script>
<script>
    $("#datePicker").kendoDatePicker({
    });
</script>


