@{
    ViewBag.Title = "enable";
}

<h2>enable</h2>

<input id="datePicker" name="datePicker" style="width: 150px" type="date"  />

<script src="~/Scripts/kendo/2013.3.1213/cultures/kendo.culture.en-US.min.js"></script>
<script>
    $("#datePicker").kendoDatePicker({
    });

    var datePicker = $('#datePicker').data('kendoDatePicker');
    datePicker.enable(false);
</script>

