@{
    ViewBag.Title = "max";
}

<h2>max</h2>

<input id="datePicker" name="datePicker" style="width: 150px" type="date"  />

<script src="~/Scripts/kendo/2013.3.1213/cultures/kendo.culture.en-US.min.js"></script>
<script>
    $("#datePicker").kendoDatePicker({
        max: new Date(2013, 0, 1) // sets max date to Jan 1st, 2013
    });
</script>

