@{
    ViewBag.Title = "collapse_the_first_master_table_row";
}

<h2>collapse_the_first_master_table_row</h2>
<input type="button" id="btnExpandFirstRow" value="Expand first master tabl row"/>
<input type="button" id="btnCollapseFirstRow" value="Collapse first master tabl row"/>

<div id="grid"></div>
<script>
    $("#grid").kendoGrid({
        columns: [
          { field: "name" },
          { field: "age" }
        ],
        dataSource: [
            { name: "Jane Doe", age: 30 },
            { name: "John Doe", age: 33 }
        ],
        detailTemplate: "<div>Name: #: name #</div><div>Age: #: age #</div>"
    });
    var grid = $("#grid").data("kendoGrid");

    $('#btnExpandFirstRow').click(function () {
        // first expand the first master table row
        grid.expandRow(".k-master-row:eq(1)");
    })

    $('#btnCollapseFirstRow').click(function () {
        grid.collapseRow(".k-master-row:eq(1)");
    })
</script>
