@{
    ViewBag.Title = "collapse_the_first_group";
}

<h2>collapse_the_first_group</h2>

<div id="grid"></div>
<input type="button" id="btnCollapseGroup" value="Collapse Beverages Group"/>
<script>
    $("#grid").kendoGrid({
        columns: [
          { field: "productName" },
          { field: "category" }
        ],
        dataSource: {
            data: [
              { productName: "Tea", category: "Beverages" },
              { productName: "Coffee", category: "Beverages" },
              { productName: "Ham", category: "Food" },
              { productName: "Bread", category: "Food" }
            ],
            group: { field: "category" }
        },
        groupable: true
    });

    $('#btnCollapseGroup').click(function () {
        var grid = $("#grid").data("kendoGrid");
        grid.collapseGroup(".k-grouping-row:contains(Beverages)");
    })
</script>
