@{
    ViewBag.Title = "customize_the_text_of_the_command";
}

<h2>customize_the_text_of_the_command</h2>

<div id="grid"></div>
<script>
    $("#grid").kendoGrid({
        columns: [
          { field: "ProductID" },
          { field: "ProductName" },
          {
              field: "UnitPrice",
          },
          { field: "UnitsInStock", groupable: false },
          { field: "Discontinued", groupable: true },
           { command: [{ name: "destroy", text: "Remove" }] }
        ],
        editable: true,
        dataSource: new kendo.data.DataSource({
            transport: {
                read: {
                    url: "@Url.Action("GetProducts", "Kendo_Data_DataSource")",
                    dataType: "json"
                },
            }
        }),
    });
</script>

