@{
    ViewBag.Title = "disable_delete_confirmation";
}

<h2>disable_delete_confirmation</h2>

<div id="grid"></div>
<script>
    $("#grid").kendoGrid({
        columns: [
          { field: "name" },
          { field: "age" },
          { command: "destroy" }
        ],
        dataSource: [
          { name: "Jane Doe", age: 30 },
          { name: "John Doe", age: 33 }
        ],
        editable: {
            confirmation: false
        }
    });
</script>
