@{
    ViewBag.Title = "disable_scrolling";
}

<h2>disable_scrolling</h2>

<div id="grid"></div>
<script>
    $("#grid").kendoGrid({
        columns: [
          { field: "name" },
          { field: "age" }
        ],
        dataSource: [
          { name: "Jane Doe", age: 30 },
          { name: "John Doe", age: 33 }
        ],
        scrollable: false
    });
</script>
