@{
    ViewBag.Title = "find_the_cell_index_when_the_cell_is_a_jQuery_object";
}

<h2>find_the_cell_index_when_the_cell_is_a_jQuery_object</h2>

<div id="grid"></div>
<script>
    $("#grid").kendoGrid({
        columns: [
          { field: "name" },
          { field: "age" }
        ],
        dataSource: [
          { name: "Jane Doe", age: 30 },
          { name: "John Doe", age: 33 },
        ],
        detailTemplate: "<div>Name: #: name #</div><div>Age: #: age #</div>"
    });
    var grid = $("#grid").data("kendoGrid");
    var cell = $("#grid td:eq(1)");
    alert(grid.cellIndex(cell));
</script>
