@{
    ViewBag.Title = "get_the_selected_data_items_when_using_cell_selection";
}

<h2>get_the_selected_data_items_when_using_cell_selection</h2>

<div id="grid"></div>
<script>
    $("#grid").kendoGrid({
        columns: [
          { field: "name" },
          { field: "age" }
        ],
        dataSource: [
          { name: "Jane Doe", age: 30 },
          { name: "John Doe", age: 33 }
        ],
        selectable: "multiple, cell"
    });
    var grid = $("#grid").data("kendoGrid");
    grid.bind("change", grid_change);

    function grid_change(e) {
        var selectedCells = this.select();
        var selectedDataItems = [];
        for (var i = 0; i < selectedCells.length; i++) {
            var dataItem = this.dataItem(selectedCells[i].parentNode);
            if ($.inArray(dataItem, selectedDataItems) < 0) {
                selectedDataItems.push(dataItem);
            }
        }
        // selectedDataItems contains all selected data items
    }
</script>
