@{
    ViewBag.Title = "set_enum_operators";
}

<h2>set_enum_operators</h2>

<div id="grid"></div>
<script>
    $("#grid").kendoGrid({
        columns: [
          { field: "productName" },
          {
              field: "category", values: [
                { text: "Beverages", value: "1" },
                { text: "Food", value: "2" }
              ]
          }
        ],
        dataSource: [
          { productName: "Tea", category: "1" },
          { productName: "Ham", category: "2" }
        ],
        filterable: {
            operators: {
                enums: {
                    eq: "Equal to",
                    neq: "Not equal to"
                }
            }
        }
    });
</script>
