
@{
    ViewBag.Title = "set_dataSource_as_a_JavaScript_object_byTypeScript";
}

<h2>set_dataSource_as_a_JavaScript_object_byTypeScript</h2>

<div id="grid"></div>

<script src='@Url.Content("~/Scripts/api/typeScripts/set_dataSource_as_a_JavaScript_object_byTypeScript.js?" + DateTime.Now.Ticks + "")'>
</script>


