@{
    ViewBag.Title = "set_the_group_footer_template";
}

<h2>set_the_group_footer_template</h2>

<div id="grid"></div>
<script>
    $("#grid").kendoGrid({
        columns: [
          { field: "name" },
          {
              field: "age",
              groupFooterTemplate: "Total: #= count #"
          }
        ],
        dataSource: {
            data: [
              { name: "Jane Doe", age: 30 },
              { name: "John Doe", age: 30 }
            ],
            group: { field: "age", aggregates: [{ field: "age", aggregate: "count" }] }
        }
    });
</script>
