@{
    ViewBag.Title = "specify_detail_template_as_a_string";
}

<h2>specify_detail_template_as_a_string</h2>

<div id="grid"></div>
<script>
    $("#grid").kendoGrid({
        columns: [
          { field: "name" },
          { field: "age" }
        ],
        dataSource: [
          { name: "Jane Doe", age: 30 },
          { name: "John Doe", age: 33 }
        ],
        detailTemplate: "<div>Name: #: name #</div><div>Age: #: age #</div>"
    });
</script>
