@{
    ViewBag.Title = "specify_alternating_row_template_as_a_string";
}

<h2>specify_alternating_row_template_as_a_string</h2>

<div id="grid"></div>
<script>
$("#grid").kendoGrid({
  dataSource: [ { name: "Jane Doe", age: 30 }, { name: "John Doe", age: 33 } ],
  altRowTemplate: '<tr data-uid="#= uid #"><td><strong>#: name #</strong></td><td><strong>#: age #</strong></td></tr>'
});
</script>
