@{
    ViewBag.Title = "subscribe_to_the_dataBound_event_after_initialization";
}

<h2>subscribe_to_the_dataBound_event_after_initialization</h2>

<div id="grid"></div>
<script>
    $("#grid").kendoGrid({
        autoBind: false,
        columns: [
          { field: "name" },
          { field: "age" }
        ],
        dataSource: [
          { name: "Jane Doe", age: 30 },
          { name: "John Doe", age: 33 }
        ]
    });
    var grid = $("#grid").data("kendoGrid");
    grid.bind("dataBound", grid_dataBound);
    grid.dataSource.fetch();

    function grid_dataBound(e) {
        alert("dataBound");
    }

</script>
