@{
    ViewBag.Title = "subscribe_to_the_columnHide_event_during_initialization";
}

<h2>subscribe_to_the_columnHide_event_during_initialization</h2>

<div id="grid"></div>
<script>
    $("#grid").kendoGrid({
        columns: [
          { field: "name" },
          { field: "age" }
        ],
        dataSource: [
          { name: "Jane Doe", age: 30 },
          { name: "John Doe", age: 33 }
        ],
        columnMenu: true,
        columnHide: function (e) {
            ///e.column Object : A JavaScript object which represents the column configuration.
            ///e.sender kendo.ui.Grid : The widget instance which fired the event.
            alert(e.column.field); // displays the field of the hidden column
        }
    });
</script>
