@{
    ViewBag.Title = "subscribe_to_the_edit_event_after_initialization";
}

<h2>subscribe_to_the_edit_event_after_initialization</h2>

<div id="grid"></div>
<script>
    $("#grid").kendoGrid({
        columns: [
          { field: "id" },
          { field: "name" },
          { field: "age" },
          { command: "edit" }
        ],
        dataSource: {
            data: [
              { id: 1, name: "Jane Doe", age: 30 },
              { id: 2, name: "John Doe", age: 33 }
            ],
            schema: {
                model: {
                    id: "id",
                    fields: {
                        "id": { type: "number" }
                    }
                }
            }
        },
        editable: "popup",
        toolbar: ["create"]
    });
    var grid = $("#grid").data("kendoGrid");
    grid.bind("edit", grid_edit);

    function grid_edit(e) {
        if (!e.model.isNew()) {
            // Disable the editor of the "id" column when editing data items
            var numeric = e.container.find("input[name=id]").data("kendoNumericTextBox");
            numeric.enable(false);
        }
    }

</script>
