@{
    ViewBag.Title = "subscribe_to_the_columnResize_event_after_initialization";
}

<h2>subscribe_to_the_columnResize_event_after_initialization</h2>

<div id="grid"></div>
<script>
    $("#grid").kendoGrid({
        columns: [
          { field: "name" },
          { field: "age" }
        ],
        dataSource: [
          { name: "Jane Doe", age: 30 },
          { name: "John Doe", age: 33 }
        ],
        resizable: true
    });
    var grid = $("#grid").data("kendoGrid");
    grid.bind("columnResize", grid_columnResize);

    function grid_columnResize(e) {
        alert(e.column.field, e.newWidth, e.oldWidth);
    }
</script>
