@{
    ViewBag.Title = "icon_Example_with_an_existing_span_element";
}

<h2>icon_Example_with_an_existing_span_element</h2>

<button id="button" type="button">
    <span class="k-icon"></span> Cancel
</button>
<script>
    $("#button").kendoButton({
        icon: "cancel"
    });
</script>