@{
    ViewBag.Title = "imageUrl";
}

<h2>imageUrl</h2>

<button id="button" type="button">Edit</button>
<script>
    $("#button").kendoButton({
        imageUrl: "/images/edit-icon.gif"
    });
</script>