@{
    ViewBag.Title = "imageUrl_Example_with_an_existing_img_element";
}

<h2>imageUrl_Example_with_an_existing_img_element</h2>

<button id="button" type="button">
    <img class="k-image" alt="Edit" /> Edit
</button>
<script>
    $("#button").kendoButton({
        imageUrl: "/images/edit-icon.gif"
    });
</script>