@{
    ViewBag.Title = "spriteCssClass_Example_with_an_existing_span_element";
}

<h2>spriteCssClass_Example_with_an_existing_span_element</h2>

<button id="button" type="button">
    <span class="k-sprite"></span> Edit
</button>
<script>
    $("#button").kendoButton({
        spriteCssClass: "myEditIcon"
    });
</script>