@{
    ViewBag.Title = "spriteCssClass";
}

<h2>spriteCssClass</h2>

<button id="button" type="button">Edit</button>
<script>
    $("#button").kendoButton({
        spriteCssClass: "myEditIcon"
    });
</script>