@{
    ViewBag.Title = "min";
}

<h2>min</h2>

<div id="splitter">
    <div id="pane1">Pane A</div>
    <div>Pane B</div>
</div>
<script>
    $("#splitter").kendoSplitter();
    var splitter = $("#splitter").data("kendoSplitter");
    splitter.min("#pane1", "300px");
</script>