@{
    ViewBag.Title = "panes_contentUrl";
}

<h2>panes_contentUrl</h2>

<div id="splitter">
    <div>Pane A</div>
    <div></div>
</div>
<script>
    $("#splitter").kendoSplitter({
        panes: [{}, { contentUrl: "http://www.tabnak.ir/" }]
    });
</script>