@{
    ViewBag.Title = "panes_scrollable";
}

<h2>panes_scrollable</h2>

<div id="splitter">
    <div>Pane A</div>
    <div>Pane B</div>
</div>
<script>
    $("#splitter").kendoSplitter({
        panes: [{ scrollable: false }, {}]
    });
</script>