@{
    ViewBag.Title = "subscribe_to_the_resize_event_after_initialization";
}

<h2>subscribe_to_the_resize_event_after_initialization</h2>

<div id="splitter">
    <div>Pane A</div>
    <div>Pane B</div>
</div>
<script>
    function splitter_resize(e) {
        console.log("Splitter pane has been resized");
    }
    $("#splitter").kendoSplitter({
        panes: [{ collapsible: true }, {}]
    });
    var splitter = $("#splitter").data("kendoSplitter");
    splitter.bind("resize", splitter_resize);
</script>