@{
    ViewBag.Title = "subscribe_to_the_contentLoad_event_after_initialization";
}

<h2>subscribe_to_the_contentLoad_event_after_initialization</h2>

<div id="splitter">
    <div>Pane A</div>
    <div>Pane B</div>
</div>
<script>
    function splitter_contentLoad(e) {
        console.log($(e.pane).html() + " has been loaded");
    }
    $("#splitter").kendoSplitter({
        panes: [{ content: "/foo" }, {}]
    });
    var splitter = $("#splitter").data("kendoSplitter");
    splitter.bind("contentLoad", splitter_contentLoad);
</script>