@{
    ViewBag.Title = "subscribe_to_the_collapse_event_during_initialization";
}

<h2>subscribe_to_the_collapse_event_during_initialization</h2>

<div id="splitter">
    <div>Pane A</div>
    <div>Pane B</div>
</div>
<script>
    $("#splitter").kendoSplitter({
        panes: [{ collapsible: true }, {}],
        collapse: function (e) {
            console.log($(e.pane).html() + " has been collapsed");
        }
    });
</script>