@{
    ViewBag.Title = "destroy";
}

<h2>destroy</h2>

<input id="timepicker" />
<script>
    $("#timepicker").kendoTimePicker();

    var timepicker = $("#timepicker").data("kendoTimePicker");

    // detach events
    timepicker.destroy();
</script>