@{
    ViewBag.Title = "disable_TimePicker_widget";
}

<h2>disable_TimePicker_widget</h2>

<input id="timepicker" />
<script>
    $("#timepicker").kendoTimePicker();

    var timepicker = $("#timepicker").data("kendoTimePicker");

    timepicker.enable(false);
</script>