@{
    ViewBag.Title = "disable_open_and_close_animations";
}

<h2>disable_open_and_close_animations</h2>

<input id="timepicker" />
<script>
    $("#timepicker").kendoTimePicker({
        animation: false
    });
</script>
