@{
    ViewBag.Title = "enable_TimePicker_widget";
}

<h2>enable_TimePicker_widget</h2>

<input id="timepicker" />
<script>
    $("#timepicker").kendoTimePicker();

    var timepicker = $("#timepicker").data("kendoTimePicker");

    timepicker.enable();
</script>