@{
    ViewBag.Title = "subscribe_to_the_open_event_after_initialization";
}

<h2>subscribe_to_the_open_event_after_initialization</h2>

<input id="timepicker" />
<script>
    $("#timepicker").kendoTimePicker();

    var timepicker = $("#timepicker").data("kendoTimePicker");

    timepicker.bind("open", function (e) {
        e.preventDefault(); //prevent popup opening
    });
</script>